/* *{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image: url("https://images.seeklogo.com/logo-png/28/2/amazon-logo-png_seeklogo-286206.png");
    background-size: cover;
    height: 50px;
    width: 100%;
} */


/* SALA AMAZON LOGO HI NAHI MIL RAHA TOH CHOR RAHI BANANA YE
YAHI SE GUSSA AARHA HAI KYA KARU */